<% source = payment.source %>

<% if source.is_a?(Spree::CreditCard) %>
  <span class="cc-type bold">
    <% unless (cc_type = source.cc_type).blank? %>
      <%= cc_type.titleize %>
    <% end %>
    <% if source.last_digits %>
    ending in <%= source.last_digits %>
    <% end %>
  </span>
  <br /><br/>
  <span class="full-name"><%= source.name %></span>
<% else %>
  <%= content_tag(:span, payment.payment_method.name) %>
<% end %>

<span class="payment-amount">(<%= payment.display_amount %>)</span>
