<%= javascript_include_tag 'layouts/site_header', defer: 'defer' %>

<!-- navigation slide out menu (mobile only) -->
<nav id="menu">
  <ul class="menu-section-list">
    <li><a href="/unlosable-glasses">unlosable glasses</a></li>
    <li><a href="/the-range">the range</a></li>
    <li><a href="/the-app">the app</a></li>
    <li><a href="/intelligently-made">intelligently made</a></li>
    <li><a href="/shop"><button>buy now</button></a></li>
  </ul>
</nav>

<!-- mobile header -->
<header class="u-full-width fixed-header <%= inject_no_bg_header if params[:controller] != "spree/user_sessions" %>" id="mobile-head">
  <div class="container">
    <div id="hamburger">
      <i class="pe-7f-menu"></i>
    </div>
    <div id="logo">
      <a id="tzukuri" href="/">TZUKURI</a>
    </div>
    <div id="link-to-cart">
      <a class="cart-info full" href="/shop/cart"><i class="pe-7f-cart"></i></a>
    </div>
  </div>
</header>

<!-- desktop header -->
<header class="u-full-width fixed-header <%= inject_no_bg_header if params[:controller] != "spree/user_sessions" %>" id="desktop-head">
  <div class="container row">
    <div class="three columns" id="logo">
      <a id="tzukuri" href="/">TZUKURI</a>
    </div>
    <div class="eight columns" id="navigation">
      <ul>
        <li><a class="<%= 'active' if params[:page] == 'unlosable-glasses'%>" href="/unlosable-glasses">unlosable glasses</a></li>
        <li><a class="<%= 'active' if params[:page] == 'the-range'%>" href="/the-range">the range</a></li>
        <li><a class="<%= 'active' if params[:page] == 'the-app'%>" href="/the-app">the app</a></li>
        <li><a class="<%= 'active' if params[:page] == 'intelligently-made'%>" href="/intelligently-made">intelligently made</a></li>
        <li id="shop-now"><a href="/shop"><button>buy now</button></a></li>
      </ul>
    </div>
    <div class="one column" id="link-to-cart">
      <a class="cart-info full" href="/shop/cart"><i class="pe-7f-cart"></i></a>
    </div>
  </div>
</header>

<script>Spree.fetch_cart()</script>
