<% @body_id = 'checkout-page' %>

<% content_for :google_analytics do %>
  <%= render partial: 'spree/shared/google_checkout.js', locals: { order: @order, step_number: (@order.checkout_steps.index(@order.state) + 1) } %>
<% end %>

<div id="checkout" class="no-hero" data-hook>
  <div class="container">

    <h1 data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>

    <%= checkout_progress %>

    <div class="row" id="checkout-content" data-hook="checkout_content">
      <div class="<%= if @order.state != 'confirm' then 'seven columns' else 'twelve columns' end %>" data-hook="checkout_form_wrapper">
        <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

        <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
          <% if @order.state == 'address' || !@order.email? %>
            <h2>Email Address</h2>
            <div class="form-group">
              <%= form.label :email %>
              <%= form.text_field :email, class: 'form-control' %>
            </div>
          <% end %>
          <%= form.hidden_field :state_lock_version %>
          <%= render @order.state, form: form %>
        <% end %>
      </div>
      <% if @order.state != 'confirm' %>
        <div class="one column">&nbsp;</div>
        <div class="four columns" id="checkout-sidebar">
          <div id="checkout-summary" data-hook="checkout_summary_box" >
            <%= render partial: 'summary', locals: { order: @order } %>
          </div>

          <!-- <div id="returns-summary">
            <h3>Free Shipping. Free Returns</h3>
            <p>We have a 20-day, no questions asked returns policy for all of our frames.</p>
          </div> -->
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
